@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  bottom: $bottom;
  left: $left;
  position: $position;
  right: $right;
  top: $top;
}

@mixin absolute($args...) {
  @include position(absolute, $args...);
}

@mixin relative($args...) {
  @include position(relative, $args...);
}

@mixin fixed($args...) {
  @include position(fixed, $args...);
}

@mixin static {
  @include position(static);
}

@mixin ease_transition {
  @include transition(all .3s ease);
}

@mixin square($size) {
  height: $size;
  width: $size;
}

@mixin circle($size) {
  border-radius: $size / 2;

  @include square($size);
}

@mixin calc($property, $expression, $fallback: 100%) {
  #{$property}: $fallback;
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin oneliner {
  line-height: $line_height_small;
}

@mixin shadow {
  box-shadow: 0 $default_space * .5 $default_space * 3 $shadow_color;
}

@mixin text_shadow($color: $text_shadow_color) {
  text-shadow: 0 $default_space * .5 $default_space * 2 $text_shadow_color;
}

@mixin optimize_length {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin circumscribed_resize($size) {
  background: {
    position: center center;
    repeat: no-repeat;
    size: cover;
  };
  height: $size;
  width: $size;
}

// webfont
@mixin lato {
  font-family: lato;
}

@mixin lato_bold {
  @include lato;
  font-weight: bold;
}

@mixin lato_bold_italic {
  @include lato_bold;
  font-style: italic;
}

// @include keyframes(fadeIn) {
//   0% {
//     opacity: 0;
//   }
//
//   100% {
//     opacity: 1;
//   }
// }
//
//
// @include keyframes(placeholderFast) {
//   0% {
//     background-position: (-$default_space * 80) 0;
//   }
//
//   32% {
//     background-position: (-$default_space * 40) 0;
//   }
//
//   50% {
//     background-position: 0 0;
//   }
//
//   68% {
//     background-position: ($default_space * 40) 0;
//   }
//
//   100% {
//     background-position: ($default_space * 80) 0;
//   }
// }
//
//
// @include keyframes(placeholderSlow) {
//   0% {
//     background-position: (-$default_space * 12) 0;
//   }
//
//   32% {
//     background-position: (-$default_space * 6) 0;
//   }
//
//   50% {
//     background-position: 0 0;
//   }
//
//   68% {
//     background-position: ($default_space * 6) 0;
//   }
//
//   100% {
//     background-position: ($default_space * 12) 0;
//   }
// }
