.l_wrapper {
  @include relative;
  height: 100%;
}

.l_container {
  @include absolute($top: $default_space * 12, $right: 0, $left: 0);
  padding: $default_space * 5 $default_space * 10 $default_space * 7.5;
  // padding-top: $default_space * 24;
  //
  // @media #{$ipad_media_query} {
  //   padding-top: $default_space * 18;
  // }
  //
  @media #{$iphone_large_media_query} {
    @include absolute($top: $default_space * 11);
    padding: $default_space * 2.5 0 $default_space * 5;
  }
  //
  // @media #{$iphone_small_media_query} {
  //   padding-top: $default_space * 12;
  // }
}

// .l-content_block {
//   @include calc('width', '100% - #{$default_space * 70}');
//   float: right;
//   padding: $default_space * 10 0;
//   min-height: 100%;
//   box-sizing: border-box;
// }

.l_content_wrapper {
  @include pie-clearfix;
  margin: 0 auto;
  width: fit-content;
  @media #{$iphone_large_media_query} {
    width: auto;
  }
}

.l_main_block {
  width: $default_space * 150;
  margin-right: $default_space * 7;
  float: left;
  // box-shadow: 0 $default_space * .5 $default_space * 2 $shadow_color;
  // border-radius: $default_space * 1.5;
  // overflow: hidden;
  // margin: 0 auto;

  // margin: $default_space * 4;
  // width: $default_space * 156;
  //
  // @media #{$pc_medium_media_query} {
  //   width: $default_space * 141;
  // }
  //
  // @media #{$pc_small_media_query} {
  //   display: inline-block;
  //   float: none;
  //   text-align: left;
  //   width: $default_space * 176;
  // }
  //
  // @media #{$ipad_media_query} {
  //   box-sizing: border-box;
  //   float: none;
  //   margin: 0;
  //   padding: $default_space * 8;
  //   width: 100%;
  // }
  //
  @media #{$iphone_large_media_query} {
    margin-right: 0;
    float: none;
    width: 100%;
  }
}

.l_right_sidebar_block {
  margin: $default_space * 4;
  width: $default_space * 79;
  float: left;

  // @media #{$ipad_media_query} {
  //   margin: 0;
  //   width: 100%;
  // }
  //
  @media #{$iphone_large_media_query} {
    // TODO: 一旦！！あとで有効化する。
    display: none;
    // box-sizing: border-box;
    // padding: ($default_space * 4) 0;
    // width: 100%;
  }
}
