.header {
  @include fixed($top: 0, $right: 0, $left: 0);
  padding: 0 $default_space * 10;
  background-color: $white_color;
  height: $default_space * 12;
  box-sizing: border-box;
  box-shadow: 0 $default_space * .5 $default_space * 2 $shadow_color;
  z-index: 3;
  @media #{$iphone_large_media_query} {
    height: $default_space * 11;
    padding: 0 $default_space * 3;
  }

  .header_left_block,
  .header_right_block {
    @include calc('width', '50% - #{$default_space * 10}');
    float: left;
    height: 100%;
  }

  .header_left_block {
    @media #{$iphone_large_media_query} {
      display: none;
    }
  }

  .header_right_block {
    @include relative;
    text-align: right;
    @media #{$iphone_large_media_query} {
      @include calc('width', '100% - #{$default_space * 13}');
    }
  }

  .c_header_logo {
    width: $default_space * 20;
    height: 100%;
    display: table;
    float: left;
    @media #{$iphone_large_media_query} {
      width: $default_space * 13;
    }
  }

  .header_logo {
    @include oneliner;
    @include lato_bold_italic;
    font-size: $font_size_title_medium;
    color: $black_color;
    display: table-cell;
    vertical-align: middle;
    @media #{$iphone_large_media_query} {
      font-size: $font_size_sub_title_large;
    }
  }

  .header_search_block {
    @include relative;
    height: 100%;
    width: $default_space * 50;
  }

  .header_search_input {
    @include absolute($top: 50%);
    @include transform(translateY(-50%));
    background-color: $light_gray_color;
    border-radius: $default_space * 5;
    font-size: $font_size_footnote_medium;
    line-height: $line_height_small;
    height: $default_space * 7.5;
    width: 100%;
    padding: $default_space * 1.5;
    box-sizing: border-box;
  }

  .header_search_icon {
    @include absolute($top: 50%, $right: $default_space * 2);
    @include transform(translateY(-50%));
    width: $default_space * 5;
    height: $default_space * 5;
  }

  .header_right_block_contents {
    @include absolute($top: 50%, $right: 0);
    @include transform(translateY(-50%));
  }

  .header_user_block {
    text-align: right;
    padding: $default_space 0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }

  .header_user_image {
    width: $default_space * 10;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: $default_space * 2;
    @media #{$iphone_large_media_query} {
      margin-right: 0;
      width: $default_space * 8;
    }
  }

  .header_user_name {
    font-size: $font_size_head_medium;
    display: inline-block;
    vertical-align: middle;
    line-height: $line_height_small;
    @media #{$iphone_large_media_query} {
      display: none;
    }
  }

  .l_review_btn {
    display: inline-block;
    vertical-align: middle;
    margin-left: $default_space * 5;
    @media #{$iphone_large_media_query} {
      margin-left: $default_space * 3;
    }
  }
}


// Menu Modal
.none_overlay {
  @include fixed($top: 0, $right: 0, $bottom: 0, $left: 0);
  z-index: 3;
}

.menu_modal {
  @include absolute($top: $default_space * 14, $right: $default_space * 40.5);
  @include shadow;
  border-radius: $default_space * 2;
  width: $default_space * 50;
  padding: $default_space * 3 0;
  background-color: $white_color;
  z-index: 4;

  &:focus {
    outline: none;
  }

  .modal_row {
    @include ease_transition;
    padding: $default_space * 2 $default_space * 5;
    cursor: pointer;
    background-color: $white_color;
    display: block;
    width: 100%;
    text-align: left;

    &:hover {
      background-color: $light_gray_color;
    }
  }

  .row_text {
    @include oneliner;
    font-family: $font_family_default;
    font-size: $font_size_footnote_medium;
    color: $black_color;
  }
}
