.header {
  @include fixed($top: 0, $right: 0, $left: 0);
  padding: 0 $default_space * 10;
  background-color: $white_color;
  height: $default_space * 12;
  box-sizing: border-box;
  box-shadow: 0 $default_space * .5 $default_space * 2 $shadow_color;
  z-index: 3;

  .header_left_block,
  .header_right_block {
    @include calc('width', '50% - #{$default_space * 10}');
    float: left;
    height: 100%;
  }

  .header_right_block {
    text-align: right;
  }

  .c_header_logo {
    width: $default_space * 20;
    height: 100%;
    display: table;
    float: left;
  }

  .header_logo {
    @include oneliner;
    font-family: $font_family_feature_bold_italic;
    font-size: $font_size_title_medium;
    color: $black_color;
    display: table-cell;
    vertical-align: middle;
  }

  .header_search_block {
    @include relative;
    height: 100%;
    width: $default_space * 50;
  }

  .header_search_input {
    @include absolute($top: 50%);
    background-color: $light_gray_color;
    border-radius: $default_space * 5;
    font-size: $font_size_footnote_medium;
    line-height: $line_height_small;
    height: $default_space * 7.5;
    width: 100%;
    transform: translateY(-50%);
    padding: $default_space * 1.5;
    box-sizing: border-box;
  }

  .header_search_icon {
    @include absolute($top: 50%, $right: $default_space * 2);
    transform: translateY(-50%);
    width: $default_space * 5;
    height: $default_space * 5;
  }

  .header_user_block {
    text-align: right;
    padding: $default_space 0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    margin-right: $default_space * 5;
  }

  .header_user_image {
    width: $default_space * 10;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: $default_space * 2;
  }

  .header_user_name {
    font-size: $font_size_head_medium;
    display: inline-block;
    vertical-align: middle;
    line-height: $line_height_small;
  }

  .l_review_btn {
    display: inline-block;
    vertical-align: middle;
  }
}
