.post_panel {
  @include pie-clearfix;
  background-color: $white_color;
  padding: $default_space * 5 $default_space * 3.5 $default_space * 4;

  .post_left_block {
    float: left;
    width: 7%;
    text-align: center;
  }

  .l-post_user_img {
    margin-bottom: $default_space * 1.5;
  }

  .post_user_img {
    border-radius: 50%;
    display: block;
    object-fit: cover;
    width: 100%;
    border: 1px solid $cyan_gray_color;
  }

  .evaluation_drop {
    width: $default_space;
    height: $default_space;
    border-radius: 50%;
    background-color: $cyan_gray_color;
    margin: 0 auto $default_space * 1.5;
  }

  .evaluation_block {
    background-color: $cyan_gray_color;
    border-radius: $default_space * 2.5;
    text-align: center;
    padding: $default_space $default_space * 2;
    display: inline-block;
    margin: 0 auto;
  }

  .evalulation_text {
    color: $white_color;
    font-size: $font_size_body_medium;
    line-height: $line_height_small;
  }

  .post_right_block {
    @include relative;
    float: left;
    line-height: $line_height_small;
    margin-left: 2%;
    width: 91%;
  }

  .post_menu_modal {
    @include absolute($top: $default_space * 6, $right: 0);
    width: $default_space * 30;
    text-align: center;
    padding: $default_space * 3 0;
    background-color: $white_color;
    z-index: 1;
    border: 1px solid $border_color;
    border-radius: $default_space;
    box-shadow: 0 $default_space * .5 $default_space * 2 $shadow_color;
  }

  .post_menu_modal_row {
    @include ease_transition;
    padding: $default_space * 2;
    color: $blue_gray_color;
    cursor: pointer;
    width: 100%;

    &:hover {
      color: $white_color;
      background-color: $cyan_color;
    }
  }

  .post_menu_modal_row_text {
    line-height: $line_height_small;
    font-size: $font_size_footnote_medium;
  }

  .post_topbar {
    @include pie-clearfix;
    height: $default_space * 6;
    margin-bottom: $default_space * 1.5;
  }

  .post_topbar_left {
    float: left;
    width: 70%;
  }

  .post_topbar_right {
    float: left;
    position: relative;
    right: -$default_space;
    text-align: right;
    width: 30%;
  }

  .post_user_display_name {
    color: $black_color;
    display: inline-block;
    font-size: $font_size_head_medium;
    font-weight: 600;
    line-height: $line_height_small;
    margin-right: $default_space * 1.5;
    vertical-align: middle;
  }

  .post_user_account_name {
    color: $gray_color;
    display: inline-block;
    font-size: $font_size_footnote_medium;
    line-height: $line_height_small;
    vertical-align: middle;
  }

  .post_hashtag_block {
    display: inline-block;
    background-color: $blue_gray_color;
    border-radius: $default_space * 3;
    vertical-align: middle;
    padding: $default_space * .5 $default_space;
    margin-right: $default_space * 1.5;
  }

  .post_hashtag {
    font-size: $font_size_caption_large;
    color: $light_gray_color;
    line-height: $line_height_small;
  }

  .post_date {
    color: $gray_color;
    display: inline-block;
    font-size: $font_size_footnote_medium;
    line-height: $line_height_small;
    margin-right: $default_space;
    vertical-align: middle;
  }

  .post_arrow_down_icon {
    cursor: pointer;
    display: inline-block;
    height: $default_space * 6;
    vertical-align: middle;
    width: $default_space * 6;
  }

  .post_body {
    margin-bottom: $default_space * 3.5;
  }

  .post_body_text {
    color: $black_color;
    font-size: $font_size_footnote_medium;
    line-height: $line_height_default;
  }

  .post_action_list {
    margin-bottom: $default_space;
  }

  .post_action_block {
    display: inline-block;
    vertical-align: middle;
    &:not(:last-child) {
      margin-right: $default_space * 6;
    }
  }

  .action_icon {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: $default_space;
  }

  .thumbs_up_icon,
  .thumbs_down_icon {
    display: inline-block;
    height: $default_space * 5;
    vertical-align: middle;
    width: $default_space * 5;
  }

  .share_square_icon {
    display: inline-block;
    height: $default_space * 7;
    vertical-align: middle;
    width: $default_space * 7;
  }

  .l-post_action_amount {
    display: inline-block;
    vertical-align: middle;
  }

  .post_action_amount {
    font-size: $font_size_caption_large;
    color: $cyan_color;
    line-height: $line_height_small;
  }

  .post_reply_area_container {
    @include relative;
  }

  .post_reply_area {
    border: 1px solid $dark_border_color;
    border-radius: $default_space * 4;
    box-sizing: border-box;
    font-size: $font_size_footnote_medium;
    height: 32px; // ittan
    line-height: $line_height_default;
    padding: $default_space * 2;
    resize: none;
    width: 100%;
  }

  .send_icon {
    @include absolute($bottom: $default_space * 2, $right: $default_space * 2);
    width: $default_space * 5;
    height: $default_space * 5;
    cursor: pointer;
    color: $cyan_color;
  }
}
